<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <style>
            html {
                background-color: rgba(0, 0, 0, 0.1);
                text-align: center;
            }

            .errContainer {
                text-align: center;
                display: inline-block;
                margin: 10px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                width: 30%;
                height: 90px;
                font-size: 20px;
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="errContainer">
            {{ err }}
        </div>
    </body>
</html>